<html>
<head>
    <style>
        div{
            width: 50mm;
            line-height: 20px;
        }
        .key{
            text-align: left;
            padding: 0;
        }
        .value{
            text-align: right;
        }
        td{
        	font-size: 11px;
        }
        h4{
        	text-align: center;
		}
    </style>
</head>
<body>
<div>
    <h4> Checkout Receipt </h4>
    <% booking = Booking.find(params[:id]) %>
    <p>********* DTS *********</p>
    <table>
    	<tr>
        	<td class="key">Customer: <td>
            <td class="value"> <%= booking.customer.name %> <td>
        </tr>
    	<tr>
        	<td class="key">Check in Date: <td>
            <td class="value"> <%= booking.checked_in_time.strftime("%d %b %y %H:%M")%> <td>
        </tr>
        <tr>
        	<td class="key">Check out Date: <td>
            <td class="value"> <%= booking.checked_out_time.strftime("%d %b %y %H:%M")%> <td>
        </tr>
        <tr>
        	<td class="key">Room Charges: <td>
            <td class="value"> Rs. <%= booking.total_room_charges%> <td>
        </tr>
        <% if booking.extension_charges != 0 %>
            <tr>
                <td class="key">Room Extension Charges: <td>
                <td class="value"> Rs. <%= booking.extension_charges %> <td>
            </tr>
            <tr>
                <td class="key">Total Room Charges: <td>
                <td class="value"> Rs. <%= booking.total_room_charges %> <td>
            </tr>
        <% end%>

        <% if booking.additional_payment_amount != 0 %>
            <tr>
                <td class="key">Additional Payment: <td>
                <td class="value"> Rs. <%= booking.additional_payment_amount %> <td>
            </tr>
        <% end%>

        <tr>
        	<td class="key">Advance Room Payment: <td>
            <td class="value"> Rs. <%= booking.advance_payment %> (<%= booking.advance_payment_mode.humanize %>) <td>
        </tr>

        <% if booking.total_menu_price != 0 %>
            <tr>
                <td class="key">Food charges: <td>
                <td class="value"> Rs. <%= booking.total_menu_price %> <td>
            </tr>
            <tr>
                <td class="key">Advance Food Payment: <td>
                <td class="value"> Rs. <%= booking.food_payment %> <td>
            </tr>
        
        <tr>
            <td class="key">Total charges: <td>
            <td class="value"> Rs. <%= booking.total_price %> <td>
        </tr>
        <% end %>
        <tr>
            <td class="key">Paid at Checkout: <td>
            <td class="value"> Rs. <%= booking.total_checkout_payment %> (<%= booking.checkout_payment_paid.payment_mode%>) <td>
        </tr>
    </table>

    <p><b>Signature:	</b></p>

  	<h4> Checkout Receipt </h4>
    
    <p>- DTS Customer Copy -</p>
    
            <table>
    	<tr>
        	<td class="key">Customer: <td>
            <td class="value"> <%= booking.customer.name %> <td>
        </tr>
    	<tr>
        	<td class="key">Check in Date: <td>
            <td class="value"> <%= booking.checked_in_time.strftime("%d %b %y %H:%M")%> <td>
        </tr>
        <tr>
        	<td class="key">Check out Date: <td>
            <td class="value"> <%= booking.checked_out_time.strftime("%d %b %y %H:%M")%> <td>
        </tr>
        <tr>
        	<td class="key">Room Charges: <td>
            <td class="value"> Rs. <%= booking.total_room_charges%> <td>
        </tr>
        <% if booking.extension_charges != 0 %>
            <tr>
                <td class="key">Room Extension Charges: <td>
                <td class="value"> Rs. <%= booking.extension_charges %> <td>
            </tr>
            <tr>
                <td class="key">Total Room Charges: <td>
                <td class="value"> Rs. <%= booking.total_room_charges %> <td>
            </tr>
        <% end%>

        <% if booking.additional_payment_amount != 0 %>
            <tr>
                <td class="key">Additional Payment: <td>
                <td class="value"> Rs. <%= booking.additional_payment_amount %> <td>
            </tr>
        <% end%>

        <tr>
        	<td class="key">Advance Room Payment: <td>
            <td class="value"> Rs. <%= booking.advance_payment %> (<%= booking.advance_payment_mode.humanize %>) <td>
        </tr>

        <% if booking.total_menu_price != 0 %>
            <tr>
                <td class="key">Food charges: <td>
                <td class="value"> Rs. <%= booking.total_menu_price %> <td>
            </tr>
            
            <tr>
                <td class="key">Advance Food Payment: <td>
                <td class="value"> Rs. <%= booking.food_payment %> <td>
            </tr>
        <tr>
            <td class="key">Total charges: <td>
            <td class="value"> Rs. <%= booking.total_price %> <td>
        </tr>
        <% end %>
        <tr>
            <td class="key">Paid at Checkout: <td>
            <td class="value"> Rs. <%= booking.total_checkout_payment %> (<%= booking.checkout_payment_paid.payment_mode%>) <td>
        </tr>
    </table>
    <br/>
</div>
</body>
</html>
