<html>
<head>
    <style>
        div{
            width: 50mm;
            line-height: 20px;
        }
        .key{
            text-align: left;
            padding: 0;
        }
        .value{
            text-align: right;
        }
        td{
        	font-size: 11px;
        }
        h4{
        	text-align: center;
		}
    </style>
</head>
<body>
<div>
    <h4> Checkin Receipt </h4>
    <% booking = Booking.find(params[:id]) %>
    <p>********* DTS *********</p>
    <table>
    	<tr>
        	<td class="key">Customer: <td>
            <td class="value"> <%= booking.customer.name %> <td>
        </tr>
    	<tr>
        	<td class="key">Check in Date: <td>
            <td class="value"> <%= booking&.checked_in_time&.strftime("%d %b %y %H:%M")%> <td>
        </tr>
        <tr>
        	<td class="key">Check out Date: <td>
            <td class="value"> <%= booking&.check_out_date&.strftime("%d %b %y")%> <td>
        </tr>
        <tr>
            <td class="key">Rooms Alloted: <td>
            <td class="value"> <%= booking.rooms.pluck(:number).join(", ")  %> <td>
        </tr>
        <tr>
        	<td class="key">Room Charges: <td>
            <td class="value"> Rs. <%= booking.total_room_charges%> <td>
        </tr>
        <tr>
        	<td class="key">Advance Room Payment: <td>
            <td class="value"> Rs. <%= booking.advance_payment %> (<%= booking.advance_payment_mode.humanize %>) <td>
        </tr>
        <tr>
        	<td class="key">Pending Room Payment: <td>
            <td class="value"> Rs. <%= booking.pending_room_charges %> <td>
        </tr>

        <% if booking.total_menu_price != 0 %>
            <tr>
                <td class="key">Food charges: <td>
                <td class="value"> Rs. <%= booking.total_menu_price %> <td>
            </tr>
            <tr>
                <td class="key">Advance Food Payment: <td>
                <td class="value"> Rs. <%= booking.food_payment %> <td>
            </tr>
        
            <tr>
                <td class="key">Pending Food Payment: <td>
                <td class="value"> Rs. <%= booking.pending_food_charges %> <td>
            </tr>
            <tr>
                <td class="key">Total charges: <td>
                <td class="value"> Rs. <%= booking.total_price %> <td>
            </tr>
            <tr>
                <td class="key">Pending Payment: <td>
                <td class="value"> Rs. <%= booking.total_pending_charges %> <td>
            </tr>
        <% end %>
    </table>

    <p><b>Signature:	</b></p>

  	<h4> Checkin Receipt </h4>
    
    <p>- DTS Customer Copy -</p>
    
        <table>
    	<tr>
        	<td class="key">Customer: <td>
            <td class="value"> <%= booking.customer.name %> <td>
        </tr>
    	<tr>
        	<td class="key">Check in Date: <td>
            <td class="value"> <%= booking&.checked_in_time&.strftime("%d %b %y %H:%M")%> <td>
        </tr>
        <tr>
        	<td class="key">Check out Date: <td>
            <td class="value"> <%= booking&.check_out_date&.strftime("%d %b %y")%> <td>
        </tr>
        <tr>
            <td class="key">Rooms Alloted: <td>
            <td class="value"> <%= booking.rooms.pluck(:number).join(", ") %> <td>
        </tr>
        <tr>
        	<td class="key">Room Charges: <td>
            <td class="value"> Rs. <%= booking.total_room_charges%> <td>
        </tr>
        <tr>
        	<td class="key">Advance Room Payment: <td>
            <td class="value"> Rs. <%= booking.advance_payment %> (<%= booking.advance_payment_mode.humanize %>) <td>
        </tr>
        <tr>
        	<td class="key">Pending Room Payment: <td>
            <td class="value"> Rs. <%= booking.pending_room_charges %> <td>
        </tr>

        <% if booking.total_menu_price != 0 %>
            <tr>
                <td class="key">Food charges: <td>
                <td class="value"> Rs. <%= booking.total_menu_price %> <td>
            </tr>
            <tr>
                <td class="key">Advance Food Payment: <td>
                <td class="value"> Rs. <%= booking.food_payment %> <td>
            </tr>
        
            <tr>
                <td class="key">Pending Food Payment: <td>
                <td class="value"> Rs. <%= booking.pending_food_charges %> <td>
            </tr>
            <tr>
                <td class="key">Total charges: <td>
                <td class="value"> Rs. <%= booking.total_price %> <td>
            </tr>
            <tr>
                <td class="key">Pending Payment: <td>
                <td class="value"> Rs. <%= booking.total_pending_charges %> <td>
            </tr>
        <% end %>
    </table>
    <br/>
</div>
</body>
</html>
